---
import Icon from "../favicon.svg";
import "../styles/global.css";
interface Props {
  title?: string;
  description?: string;
  keywords?: string[];
}
const props = Astro.props;
---

<!doctype html>
<html lang="zh-Hans">
  <head>
    <meta charset="UTF-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" href={Icon.src} type="image/svg+xml" />
    <meta name="author" content="pizero" />
    <meta name="color-scheme" content="dark light" />
    {props.title && <title>{props.title}</title>}
    {
      props.description && (
        <meta name="description" content={props.description} />
      )
    }
    {
      props.keywords && (
        <meta name="keywords" content={props.keywords.join(",")} />
      )
    }
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body><slot /></body>
</html>
